{% extends 'base.html.twig' %}

{% block title %}All pins{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
   <h1>All pins</h1>

   
  <a href="{{ path('app_pins_create') }}">pin create</a>

  
      {% for pin in pins %}
            <article>

                <h1><a href="{{ path('app_pins_show', {'id': pin.id}) }}">{{ pin.title }}</a></h1>

                <p>{{ pin.description }}</p>

            </article>      
      {% else %}  
            <p>Aucun pin</p>
      {% endfor %}
</div>
{% endblock %}
