{#
Author: fpodev (fpodev@gmx.fr)
show.html.twig (c) 2020
Desc: description
Created:  2020-06-25T14:43:21.111Z
Modified: !date!
#}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show</title>
</head>
<body>
    <h1>{{ pin.title }}</h1>

    <p>{{ pin.description }}</p>

    <p><a href="{{ path('app_home') }}">Back</a></p>
</body>
</html>